Session.vim
*.swp
*.mypy_cache/
.config/nnn/.lastd
.config/nnn/.selection
.config/nnn/bookmarks/*
.config/github-copilot/
.config/nvm/
.config/nvim/
.config/wslu/
.config/configstore/
ansible/vars/github-token.yml
ansible/library/*
--ansible/library/.placeholder
